Source: remnux-msoffice-crypt
Section: utils
Priority: optional
Maintainer: REMnux <distro@remnux.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/herumi/msoffice

Package: remnux-msoffice-crypt
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tool for encrypting and decrypting OOXML-formatted Microsoft Office document files.
