[Unit]
Description=$w_description
Documentation=http://yajsw.sourceforge.net/
After=network.target
Wants=network.target

[Service]
SuccessExitStatus=143
Type=forking
ExecStart=${w_start_cmd}
ExecStop=${w_stop_cmd}

