Source: android-project-creator
Section: utils
Priority: optional
Maintainer: REMnux Distribution <distro@remnux.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://maxkersten.nl/projects/androidprojectcreator/

Package: android-project-creator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jdk, default-jre
Description: Convert the Android APK application file into an Android Studio project for easier analysis.
