Source: fakenet-ng
Section: utils
Priority: optional
Maintainer: REMnux <distro@remnux.org>
Build-Depends: debhelper (>= 8.0.0), python-dev, python-setuptools, libssl-dev, libffi-dev, libnetfilter-queue-dev
Standards-Version: 3.9.4
Homepage: https://github.com/fireeye/flare-fakenet-ng

Package: fakenet-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pyftpdlib, python-netifaces, libnetfilter-queue-dev
Description: FakeNet-NG is a next generation dynamic network analysis tool for malware analysts and penetration testers. 
