Source: scdbg
Section: utils
Priority: optional
Maintainer: REMnux Distribution <distro@remnux.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://sandsprite.com/blogs/index.php?uid=7&pid=152

Package: scdbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wine32:i386
Description: Analyze shellcode by emulating its execution.
