Source: ghidra
Section: utils
Priority: optional
Maintainer: REMnux Distribution <distro@remnux.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://ghidra-sre.org

Package: ghidra
Architecture: amd64
Depends: default-jdk
Description: Software reverse engineering tool suite
