Source: flare-floss
Section: utils
Priority: optional
Maintainer: REMnux Distribution <distro@remnux.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/fireeye/flare-floss

Package: flare-floss
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Extract and deobfuscate strings from PE executables.
